[Desktop Entry]
Version=1.0
Type=Application
Encoding=UTF-8
Exec=xfce4-session-logout
Icon=gnome-session-logout
StartupNotify=false
Terminal=false
Categories=X-XFCE;X-Xfce-Toplevel;
OnlyShowIn=XFCE;
Name=Log Out
Name[ar]=تسجيل الخروج
Name[ast]=Zarrar sesión
Name[be]=Выйсьці
Name[ca]=Surt
Name[cs]=Odhlásit se
Name[da]=Logud
Name[de]=Abmelden
Name[el]=Αποσύνδεση
Name[en_GB]=Log Out
Name[es]=Cerrar sesión
Name[et]=Kirjuta välja
Name[eu]=Saio itxi
Name[fi]=Lopeta
Name[fr]=Déconnexion
Name[gl]=Terminar a sesión
Name[hu]=Kijelentkezés
Name[id]=Log Keluar
Name[it]=Esci
Name[ja]=ログアウト
Name[kk]=Шығу
Name[ko]=종료
Name[lv]=Atteikties
Name[nb]=Logg ut
Name[nl]=Uitloggen
Name[nn]=Logg ut
Name[pa]=ਲਾਗ ਆਉਟ
Name[pl]=Wyloguj
Name[pt]=Sair
Name[pt_BR]=Sair
Name[ro]=Ieșire
Name[ru]=Выйти
Name[si]=ඉවත් වන්න
Name[sk]=Odhlásiť sa
Name[sq]=Dilni
Name[sv]=Logga ut
Name[tr]=Çık
Name[ug]=چىقىش
Name[uk]=Завершити сеанс
Name[ur]=لاگ آؤٹ
Name[ur_PK]=لاگ آؤٹ
Name[zh_CN]=注销
Comment=Log out of the Xfce Desktop
Comment[ar]=تسجيل الخروج من سطح مكتب Xfce
Comment[ast]=Colar del escritoriu Xfce
Comment[be]=Выхад з асяроддзя Xfce 4
Comment[ca]=Surt de l’escriptori Xfce
Comment[cs]=Odhlásit se z prostředí Xfce
Comment[da]=Logud af Xfce-skrivebordet
Comment[de]=Von der Arbeitsumgebung abmelden
Comment[el]=Αποσυνδεθείτε από το Xfce
Comment[en_GB]=Log out of the Xfce Desktop
Comment[es]=Salir del escritorio Xfce
Comment[et]=Kirjuta Xfce-töölauast välja
Comment[eu]=Saioa itxi Xfce idazmahaiean
Comment[fi]=Kirjaudu ulos Xfce-työpöydältä
Comment[fr]=Déconnexion du bureau Xfce
Comment[gl]=Saír do Escritorio Xfce
Comment[hu]=Kijelentkezés az Xfce asztali környezetből
Comment[id]=Log keluar Destop Xfce
Comment[it]=Esce dall'ambiente Xfce
Comment[ja]=Xfce デスクトップからログアウトします
Comment[kk]=Xfce жұмыс үстелінен шығу
Comment[ko]=Xfce 4 데스크탑 종료
Comment[lv]=Atteikties no Xfce darbavirsmas
Comment[nb]=Logg av Xfce skrivebordet
Comment[nn]=Logg ut av Xfce-skrivebordet
Comment[pa]=Xfce ਡੈਸਕਟਾਪ ਤੋਂ ਲਾਗ ਆਉਟ
Comment[pl]=Wyloguj się z Xfce
Comment[pt]=Sair do Ambiente Xfce
Comment[pt_BR]=Sair do Xfce
Comment[ro]=Ieșire din mediul desktop Xfce
Comment[ru]=Выйти из Xfce
Comment[sk]=Odhlásiť sa z prostredia Xfce
Comment[sq]=Dil prej Desktopit Xfce 4
Comment[sv]=Logga ut från Xfce-skrivbordet
Comment[tr]=Xfce Masaüstünden çık
Comment[ug]=Xfce ئۈستەليۈزىدىن چىقىپ كېتىش
Comment[uk]=Завершити сеанс Xfce
Comment[ur]=ایکسفس ڈیسک ٹاپ سے لاگ آؤٹ کریں
Comment[ur_PK]=ایکسفس ڈیسک ٹاپ سے لاگ آؤٹ کریں
Comment[zh_CN]=注销 Xfce
