[Desktop Entry]
Version=1.0
Type=Application
Encoding=UTF-8
Exec=xfbrowser4 /usr/share/xubuntu-docs/about/xubuntu-index.html
Icon=gnome-help
StartupNotify=false
Terminal=false
Categories=X-XFCE;X-Xfce-Toplevel;
OnlyShowIn=XFCE;
Name=Help
Name[ar]=مساعدة
Name[be]=Даведка
Name[ca]=Ajuda
Name[cs]=Nápověda
Name[da]=Hjælp
Name[de]=Hilfe
Name[el]=Βοήθεια
Name[en_GB]=Help
Name[es]=Ayuda
Name[et]=Abi
Name[eu]=Laguntza
Name[fi]=Ohje
Name[fr]=Aide
Name[hu]=Súgó
Name[id]=Bantuan
Name[ja]=ヘルプ
Name[ko]=도움말
Name[lv]=Palīdzība
Name[ms]=Bantuan
Name[nb_NO]=Hjelp
Name[pa]=ਮੱਦਦ
Name[pl]=Pomoc
Name[pt_BR]=Ajuda
Name[pt_PT]=Ajuda
Name[ru]=Справка
Name[sq]=Ndihmë
Name[sv]=Hjälp
Name[ta]=உதவி
Name[tr]=Yardım
Name[uk]=Допомога
Name[ur]=ہدایات
Name[zh_CN]=帮助
Comment=Help using Xfce
Comment[ar]=المساعدة باستخدام Xfce
Comment[be]=Даведка па выкарыстаньню Xfce
Comment[ca]=Ajuda usant Xfce
Comment[cs]=Nápověda pro používání Xfce
Comment[da]=Hjælp til brug af Xfce
Comment[de]=Benutzungshinweise zu Xfce
Comment[el]=Βοήθεια για το Xfce
Comment[en_GB]=Help using Xfce
Comment[es]=Ayuda para usar Xfce
Comment[et]=Xfce kasutamise abi
Comment[eu]=Laguntza Xfce erabiltzen
Comment[fi]=Xfce:n käyttöohje
Comment[fr]=Aide pour utiliser Xfce
Comment[hu]=Xfce súgó
Comment[id]=Bantuan menggunakan Xfce
Comment[ja]=Xfce のマニュアルを表示します
Comment[ko]=Xfce 도움말
Comment[lv]=Xfce izmantošanas palīdzība
Comment[nb_NO]=Hjelp i bruken av Xfce
Comment[nl]=Hulp bij het gebruik van Xfce
Comment[pa]=Xfce ਦੀ ਵਰਤੋਂ ਨਾਲ ਮੱਦਦ
Comment[pt_BR]=Ajuda usando o Xfce
Comment[pt_PT]=Ajuda no uso do Xfce
Comment[ru]=Справка по использованию Xfce
Comment[sq]=Ndihmë për përdorimin e Xfce-së
Comment[sv]=Hjälp med Xfce
Comment[tr]=Xfce kullanımı yardımı
Comment[uk]=Довідка про використання Xfce
Comment[ur]=ایکسفس کے استعمال کی ہدایات
Comment[zh_CN]=帮助使用Xfce
