[Desktop Entry]
Encoding=UTF-8
Name=Power Manager
Comment=Power management daemon
Icon=xfce4-power-manager
Exec=xfce4-power-manager
Terminal=false
Type=Application
Categories=
OnlyShowIn=GNOME;XFCE;
