UpdateInterval=0
TimeScale=0
Size=30
Mode=1
Frame=0
Border=0
Bars=0
TrackedCore=0
Command=xfce4-taskmanager
InTerminal=0
StartupNotification=1
ColorMode=0
Foreground1=#FFFFFF
Foreground2=#686868
Background=#686868
Foreground3=#0000FF

