[GdmGreeterTheme]
Greeter=Xubuntu.xml
Name=Xubuntu-Intrepid-Beta
Description=Xubuntu Intrepid GDM
Author=Jozsef Mak
Copyright=(c) 2008 Canonical Ltd
Screenshot=xubuntu-intrepid-shot.png