favorites=exo-web-browser.desktop,exo-mail-reader.desktop,exo-file-manager.desktop,abiword.desktop,gnumeric.desktop,pidgin.desktop,gmusicbrowser.desktop,ubuntu-software-center.desktop,exo-terminal-emulator.desktop,xfhelp4.desktop
button-title=Applications Menu
button-icon=xubuntu-logo-menu
show-button-title=false
show-button-icon=true
load-hierarchy=true
launcher-show-name=true
launcher-show-description=false
item-icon-size=1
category-icon-size=0
hover-switch-category=false
favorites-in-recent=true
display-recent-default=false
position-search-alternate=true
show-command-switchuser=false
command-settings=xfce4-settings-manager
show-command-settings=true
command-menueditor=menulibre
show-command-menueditor=true
command-lockscreen=xflock4
show-command-lockscreen=true
command-logout=xfce4-session-logout
show-command-logout=true