[Desktop Entry]
Type=Application
Name=Screen Locker
Name[ca]=Bloquejador de pantalla
Name[de]=Bildschirmsperre
Name[en_GB]=Screen Locker
Name[es]=Bloqueador de pantalla
Name[fi]=Näytön lukitusohjelma
Name[fr]=Verrouilleur d'écran
Name[gu]=સ્ક્રીન લૉકર
Name[hi]=परदा अबरोधक
Name[hu]=Képernyőzár
Name[it]=Blocca schermo
Name[kk]=Экран блоктаушысы
Name[nl]=Schermvergrendeling
Name[or]=ପରଦା ଅବରୋଧକ
Name[pl]=Blokada ekranu
Name[pt]=Bloqueio de Ecrã
Name[pt_BR]=Bloqueio de Tela
Name[ru]=Блокировщик экрана
Name[tr]=Ekran Kilitleyici
Comment=Launch screen locker program
Comment[ca]=Obre el programa de blocatge de la pantalla
Comment[de]=Bildschirmsperre starten
Comment[en_GB]=Launch screen locker program
Comment[es]=Abrir el programa de bloqueo de pantalla
Comment[fi]=Käynnistä näytön lukitusohjelma
Comment[fr]=Lancer le vérouilleur d'écran
Comment[gu]=સ્ક્રીન લૉકર પ્રક્રિયાને શરુ કરો
Comment[hi]=परदा अबरोधक प्रोग्राम आरम्भ करें
Comment[hu]=Képernyőzár program indítása
Comment[it]=Lancia il programma blocca schermo
Comment[kk]=Экранды блоктау бағдарламасын жөнелту
Comment[nl]=Schermvergrendelingsprogramma starten
Comment[or]=ପରଦା ଅବରୋଧକ ଆରମ୍ଭ କରନ୍ତୁ
Comment[pl]=Uruchom program blokady ekranu
Comment[pt]=Lançar o programa de bloqueio do ecrã
Comment[pt_BR]=Iniciar o programa de bloqueio de tela
Comment[ru]=Запустить программу блокировки экрана
Comment[tr]=Ekran kilitleyici programı başlat
Icon=preferences-desktop-screensaver
Exec=light-locker --lock-after-screensaver=0 --lock-on-suspend --no-late-locking
NoDisplay=true
