[Desktop Entry]
Version=1.0
Type=Application
Exec=xfce4-session-logout
Icon=gnome-session-logout
StartupNotify=false
Terminal=false
Categories=System;X-XFCE;X-Xfce-Toplevel;
OnlyShowIn=XFCE;
Name=Log Out
Name[am]=ሎግውጣ
Name[ar]=الخروج
Name[ast]=Colar
Name[be]=Выйсьці
Name[bn]=লগআউট
Name[ca]=Surt
Name[cs]=Odhlásit se
Name[da]=Logud
Name[de]=Abmelden
Name[dz]=ཕྱིར་བསྐྱོད།
Name[el]=Αποσύνδεση
Name[en_GB]=Log Out
Name[eo]=Adiaŭu
Name[es]=Salir
Name[et]=Logi välja
Name[eu]=Irten
Name[fi]=Kirjaudu ulos
Name[fr]=Déconnexion
Name[gl]=Rematar a sesión
Name[he]=יציאה
Name[hr]=Odjava
Name[hu]=Kijelentkezés
Name[id]=Log Keluar
Name[it]=Esci
Name[ja]=ログアウト
Name[kk]=Шығу
Name[ko]=로그아웃
Name[lv]=Atteikties
Name[mk]=Одјава
Name[nb]=Logg ut
Name[nl]=Uitloggen
Name[pl]=Wyloguj
Name[pt]=Sair
Name[pt_BR]=Encerrar sessão
Name[ro]=Ieșire
Name[ru]=Выйти
Name[si]=ලොග්වුට් වන්න
Name[sk]=Odhlásiť
Name[sq]=Dilni
Name[sv]=Logga ut
Name[tr]=Çıkış
Name[ug]=تىزىمدىن چىقىش
Name[uk]=Вийти
Name[ur]=لاگ آؤٹ
Name[ur_PK]=لاگ آؤٹ
Name[vi]=Thoát ra
Name[zh_CN]=注销
Name[zh_TW]=登出
Comment=Log out of the Xfce Desktop
Comment[ca]=Surt de l’escriptori Xfce
Comment[cs]=Odhlásit se z prostředí Xfce
Comment[da]=Log ud fra skrivebordet Xfce
Comment[de]=Vom Xfce-Desktop abmelden
Comment[el]=Αποσύνδεση από το περιβάλλον εργασίας Xfce
Comment[en_GB]=Log out of the Xfce Desktop
Comment[es]=Salir del escritorio Xfce
Comment[eu]=Saioa itxi Xfce mahaigainean
Comment[fi]=Kirjaudu ulos Xfce-työpöydältä
Comment[fr]=Se déconnecter du bureau Xfce
Comment[gl]=Saír da sesión do escritorio Xfce
Comment[hr]=Odjava Xfce Desktop
Comment[hu]=Kijelentkezés az Xfce asztali környezetből
Comment[id]=Keluar Desktop Xfce
Comment[it]=Esce dall'ambiente Xfce
Comment[ja]=Xfce デスクトップからログアウトします
Comment[kk]=Xfce жұмыс ортасынан шығу
Comment[nb]=Logg ut fra Xfce Skrivebordet
Comment[pt]=Sair da sessão Xfce
Comment[pt_BR]=Deslogar do ambiente Xfce
Comment[ro]=Ieșire din mediul desktop Xfce
Comment[ru]=Выход из Xfce
Comment[sv]=Logga ut från Xfce-skrivbordet
Comment[tr]=Xfce 'ten çık
Comment[ug]=Xfce ئۇستەل يۇزىدىن چىقىش
Comment[uk]=Вийти з середовища Xfce
Comment[zh_CN]=从 Xfce 桌面注销
Comment[zh_TW]=登出 Xfce 桌面
