[Desktop Entry]
Version=1.0
Type=Application
Exec=xfbrowser4 /usr/share/xubuntu-docs/about/xubuntu-index.html
Icon=gnome-help
StartupNotify=false
Terminal=false
Categories=X-XFCE;X-Xfce-Toplevel;
OnlyShowIn=XFCE;
Name=Help
Name[ca]=Ajuda
Name[da]=Hjælp
Name[de]=Hilfe
Name[el]=Βοήθεια
Name[es]=Ayuda
Name[eu]=Laguntza
Name[fi]=Ohje
Name[fr]=Aide
Name[gl]=Axuda
Name[he]=עזרה
Name[hr]=Pomoć
Name[hu]=Súgó
Name[id]=Bantuan
Name[it]=Aiuto
Name[ja]=ヘルプ
Name[kk]=Көмек
Name[nl]=Hulp
Name[pt]=Ajuda
Name[pt_BR]=Ajuda
Name[ru]=Справка
Name[sk]=Pomocník
Name[sv]=Hjälp
Name[ug]=يادەم
Name[uk]=Допомога
Name[zh_CN]=帮助
Name[zh_TW]=幫助
Comment=Help using Xfce
Comment[ca]=Ajuda de Xfce
Comment[da]=Hjælp til brug af Xfce
Comment[de]=Hilfe zur Nutzung von Xfce
Comment[el]=Βοήθεια για τη χρήση του Xfce
Comment[es]=Ayuda usando Xfce
Comment[eu]=Lagundu Xfce erabiltzen
Comment[fi]=Ohjeita Xfce:n käyttöön
Comment[fr]=Aide Xfce
Comment[gl]=Axuda sobre o uso de Xfce
Comment[he]=עזרה בשימוש ב־Xfce
Comment[hr]=Pomoć pri  korištenju Xfce
Comment[hu]=Segítség az Xfce használatához
Comment[id]=Bantuan menggunakan Xfce
Comment[it]=Aiuto per l'utilizzo di Xfce
Comment[ja]=Xfce の使用に関するヘルプです
Comment[kk]=Xfce қолдану көмегі
Comment[nl]=Hulp bij het gebruik van Xfce
Comment[pt]=Ajuda de utilização Xfce
Comment[pt_BR]=Ajuda usando Xfce
Comment[ru]=Справка по использованию Xfce
Comment[sk]=Pomocník pre používanie Xfce
Comment[sv]=Hjälp hur man använder Xfce
Comment[ug]=Xfce ياردەملىرى
Comment[uk]=Допомога про використання Xfce
Comment[zh_CN]=使用 Xfce 的帮助
Comment[zh_TW]=幫助您使用 Xfce
